<footer class="container footer">
    <ul id="footer-elements-list">
        <li id="footer-copyright" class="footer-links">&copy; 2018 Ioan Ovidiu Enache</li>
        <li id="footer-locale-switcher" class="switcher-li">EN</li>
    </ul>
</footer>
