.form-container {
    width: 90%;
    display: inline-block;
    margin-top: 5%;
}

#map_canvas {
    width: 100%;
    height: 400px;
}

#map {
    height: 400px;
    width: 100%;
}

#contact-details {
    margin-top: 150px;
    width: 40%;
    font-size: 17px;
    text-align: left;
    display: inline;
}

#contact-details p{
    display: inline;
    margin-right: 40px;
}

#contact-details img{
    margin-right: 5px;
}

#contact-form-left {
    float: left;
    width: 40%;
}

#contact-form-right {
    margin-left: 45%;
}

input {
    text-align: center;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 1%;
    float: right;
    width: 150px;
}

label {
    float: left;
}

input[type=text], input[type=email] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    box-shadow: none;
    border-radius:0;
}

input[type=text]:focus, input[type=email]:focus {
    box-shadow: none;
}

textarea {
    resize: none;
}